/*loin style*/
body.login{
    background-image: url('src/Login/body.jpg');
}
div.header{
    width:400px;
    height:800px;
    background-color: rgba(0, 0, 0, 0.87);
    transition:10s;
    transition-delay:0.25s;
    transition-property: all;
    display: none;
}
div.header li{
    list-style: none;
}
div.header li ul button{
   background-color:transparent;
   border-style: hidden;
    font-style: normal;
    color: white;
}
div.header li ul button:hover{
    color: hsl(152, 49%, 33%);

}

nav div div ul li {
   margin-left: 50%;
}




div.menu{
    background-color:transparent;
    position:static;
    margin-top:0px;
    float: left;
}
div.menu span i{
    padding:3px;
    width: 60px;
    height:1px;
    border: solid;
    border-color:#fff;
    background-color: black;
    display:flex;
   
}


div.header span{
    display: block;
    color: red;
    text-align: end;
    cursor: pointer;
}
/**home page css**/ 
div.home{
    width:100%;
     height: 800px;
    animation: home 4000ms infinite 400ms ;
    background-color: #147094;
   
}
div.home p{
    width:80%;
height: 800px;
text-justify:distribute;
margin-left: 10%;
color: white;

}
div.home div.img{
    width:500px;
    height: 300px;
    margin-top:-700px;
    margin-left: 30%;
    background-color: black;
}
@keyframes home{
    from{
background-color: #147094;
    }
    to{
background-color: #134113;
    }
}

div.login-box div.title button {
    text-align: center;
}
div.login-box div.title button{
    width: 150px;
    height: 50px;
    background-color:rgb(58, 16, 112);
    color:black;
    padding: 10px;
   
}
div.login-box div.title button:hover{
    color:rgb(182, 122, 12);
}
div.login-box div.title button.active{
    color:green;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top:50px;
    background-color: aqua;
    border-top: none;
}
/**sign up style for two buttons**/
div.create-box div.title button {
    text-align: center;
}
div.create-box div.title button{
    width: 150px;
    height: 50px;
    background-color:rgb(58, 16, 112);
    color: black;
    padding: 10px;
   
}
div.create-box div.title button:hover{
    color:rgb(182, 122, 12);
}
div.create-box div.title button.active{
    color:green;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top:50px;
    background-color: aqua;
    border-top: none;
}
/***end***/

div.login-box{
align-items: center;    
width: 400px;
height: 390px;
margin-left:30%;
margin-top: 2%;
border-style:solid ;
border-radius:10px;
display:none;
}

 
div.login-box p{
    margin-top:20px;
    margin-left:20px;
    color: #000;
    width:90%;
  padding: 10px;
    border-style:solid;
    border-radius: 5px;
 
    
}
div.login-box p input[type='password']{
    width:80%;
    height:40px;
    margin-left: 0%;
    border-radius: 2px;
}
div.login-box p input[type='text']{
    width:80%;
    height:40px;
    margin-left:0%;
    border-radius: 2px;
}
div.login-box p img{
width: 40px;
height:40px;
border-radius: 10px;

}
div h1{
    text-align:center;
}
div.login-box button {
    margin-top:0px;
    margin-left:20px;
    width: 90%;
    height:50px;
    border-radius: 10px;
    border-style: none;
    background-color: red;
}
div.login-box a{
    margin-top:20px;
    margin-left:20px;
    text-decoration: none;
}
/*create account css*/
div.create-box{
    align-items: center;    
    width: 600px;
    height: 810px;
    margin-left: 30%;
    margin-top: 2%;
    border-style:solid ;
    border-radius: 10px;
    display:none; 
}
div.create-box p{
    margin-top:20px;
    margin-left:20px;
    border-radius: 5px;
    width:90%;
  padding: 10px;
  color: black;
    border-style:solid;
 

}

div.create-box p input[type='text']{

    width:100%;
    margin-left:0%;

}
div.create-box p input[type='email']{

    width:100%;
    margin-left:0%;

}
div.create-box p input[type='password']{

    width:100%;
    margin-left:0%;

}

div.create-box button{
    margin-top:20px;
    margin-left:70px;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    background-color:#2e972e;
    
}

/** footer css style***/
div.footer{
    width: 100%;
    height: 400px;
    padding:20px;
    text-align: center;
    margin-top: 100%;
    background-color: rgb(0, 217, 255);
}

