
body{

    background-color: rgba(4, 1, 7, 0.418);
  }
  .container{
     background-color: rgb(101, 110, 101);
     max-width: 825px;
     height: 325px;
     border-radius:10px;
     border-style: hidden;
     border-color: black;
     margin-top: 40px;
     margin-left:15%;
  }
  header li {
    list-style: none;

  }
  li ul div {
    background-color: rgb(176, 151, 201);
  }
  li ul div video {
    max-width:100px;
    height: 100px;
    list-style: none;
    background-color: black;
    padding:10px;
  }
  
  
.search input{
width:40%;
height:40px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-color: black;
margin-left:15%;
background-color: white;
border-style: outset;

}
.search button{
    width: 10%;
    height: 40px;
    background-color:transparent;
    border-color: black;
    border-style: outset;
  border-top-right-radius:10px;
  border-bottom-right-radius: 10px;
 
   
}
.maincontrol{
    margin-left:20%;
    margin-top: 0px;
    padding: 0px 10px 40px 40px;
}
.maincontrol button{
    border-style: none;
    background-color:transparent;
    padding: 10px;
    
}
header li ul{
    list-style: none;
    background-color: transparent;
   
}
header{
    display:none;
    width:50%;
    height:800px;
    margin-left: 0px;
    background-color: hwb(0 5% 95% / 0.726);
    transition: 0.5s;
    
}



div span.openspan{
width: 90px;
height: 90px; 
text-align: center;
border-radius: 10px;
color: white ;
background-color:black;   
font-size: 40px;
cursor: pointer;



}
header span{
    width: 90px;
height: 90px; 
text-align: center;
border-radius: 10px;
margin-left: 90%;
color: white ;
background-color:black;   
font-size: 40px;
cursor: pointer;

}

header button{
   
    background-color: transparent;
    border-style: hidden;
   margin-left: 80%;

}